:root {
 --refero-catalog-page-screen-color-1: #e7e6e7;
 --refero-catalog-page-screen-color-2: #ddaf04;
 --refero-catalog-page-screen-color-3: #605e59;
 --refero-catalog-page-screen-color-4: #bd4f74;
 --refero-catalog-page-screen-color-5: #27251f;
}
