:root {
 --refero-product-details-screen-color-1: #9f4e36;
 --refero-product-details-screen-color-2: #bca085;
 --refero-product-details-screen-color-3: #282f26;
 --refero-product-details-screen-color-4: #af8750;
 --refero-product-details-screen-color-5: #f7ebdc;
}
