:root {
 --refero-login-screen-color-1: #6304fa;
 --refero-login-screen-color-2: #2c2a2a;
 --refero-login-screen-color-3: #98969b;
 --refero-login-screen-color-4: #f3f3f3;
 --refero-login-screen-color-5: #89a650;
}
