:root {
 --refero-paywall-subscription-screen-color-1: #f2f2f3;
 --refero-paywall-subscription-screen-color-2: #1363b6;
 --refero-paywall-subscription-screen-color-3: #718aae;
 --refero-paywall-subscription-screen-color-4: #a5adc0;
 --refero-paywall-subscription-screen-color-5: #495477;
}
