:root {
 --refero-dashboard-screen-color-1: #8d87ec;
 --refero-dashboard-screen-color-2: #e44e50;
 --refero-dashboard-screen-color-3: #383838;
 --refero-dashboard-screen-color-4: #fbd373;
 --refero-dashboard-screen-color-5: #abfbd3;
}
