:root {
 --refero-media-kit-screen-color-1: #050506;
 --refero-media-kit-screen-color-2: #cf8466;
 --refero-media-kit-screen-color-3: #614a4c;
 --refero-media-kit-screen-color-4: #65199b;
 --refero-media-kit-screen-color-5: #768583;
}
