:root {
 --refero-paywall-subscription-screen-color-1: #1e232c;
 --refero-paywall-subscription-screen-color-2: #f2fafb;
 --refero-paywall-subscription-screen-color-3: #29a15a;
 --refero-paywall-subscription-screen-color-4: #949b9f;
 --refero-paywall-subscription-screen-color-5: #60666b;
}
