:root {
 --refero-login-screen-color-1: #0472d6;
 --refero-login-screen-color-2: #0b0b0c;
 --refero-login-screen-color-3: #93bcda;
 --refero-login-screen-color-4: #f7f8f8;
 --refero-login-screen-color-5: #e1262d;
}
