:root {
 --refero-integration-page-screen-color-1: #1f79d8;
 --refero-integration-page-screen-color-2: #6d49bf;
 --refero-integration-page-screen-color-3: #161719;
 --refero-integration-page-screen-color-4: #f69e29;
 --refero-integration-page-screen-color-5: #708bbf;
}
