:root {
 --refero-developers-page-screen-color-1: #202224;
 --refero-developers-page-screen-color-2: #9ca09e;
 --refero-developers-page-screen-color-3: #64666a;
 --refero-developers-page-screen-color-4: #fbfbfb;
 --refero-developers-page-screen-color-5: #4fac3c;
}
