:root {
 --refero-catalog-page-screen-color-1: #4bd464;
 --refero-catalog-page-screen-color-2: #1c1f13;
 --refero-catalog-page-screen-color-3: #3c5aed;
 --refero-catalog-page-screen-color-4: #f0a43a;
 --refero-catalog-page-screen-color-5: #d1543e;
}
