:root {
 --refero-integration-page-screen-color-1: #050505;
 --refero-integration-page-screen-color-2: #909193;
 --refero-integration-page-screen-color-3: #d47e69;
 --refero-integration-page-screen-color-4: #5a5c5d;
 --refero-integration-page-screen-color-5: #5e98a8;
}
