:root {
 --refero-paywall-subscription-screen-color-1: #a984ca;
 --refero-paywall-subscription-screen-color-2: #ecf1f4;
 --refero-paywall-subscription-screen-color-3: #5c5860;
 --refero-paywall-subscription-screen-color-4: #1a191b;
 --refero-paywall-subscription-screen-color-5: #058dfc;
}
