:root {
 --refero-product-details-screen-color-1: #202022;
 --refero-product-details-screen-color-2: #fafafa;
 --refero-product-details-screen-color-3: #444344;
 --refero-product-details-screen-color-4: #3b3b3c;
 --refero-product-details-screen-color-5: #090909;
}
