:root {
 --refero-profile-account-screen-color-1: #1a3777;
 --refero-profile-account-screen-color-2: #3072ed;
 --refero-profile-account-screen-color-3: #0b0e12;
 --refero-profile-account-screen-color-4: #8f959d;
 --refero-profile-account-screen-color-5: #f5f5f5;
}
