:root {
 --refero-login-screen-color-1: #f5f6f6;
 --refero-login-screen-color-2: #df443a;
 --refero-login-screen-color-3: #1566ce;
 --refero-login-screen-color-4: #4795ea;
 --refero-login-screen-color-5: #b09e9f;
}
