:root {
 --refero-blog-screen-color-1: #d8d8d7;
 --refero-blog-screen-color-2: #635041;
 --refero-blog-screen-color-3: #638c9f;
 --refero-blog-screen-color-4: #94918a;
 --refero-blog-screen-color-5: #3e7291;
}
