:root {
 --refero-404-page-screen-color-1: #4d4a4c;
 --refero-404-page-screen-color-2: #a22158;
 --refero-404-page-screen-color-3: #11d2c2;
 --refero-404-page-screen-color-4: #177e85;
 --refero-404-page-screen-color-5: #faab93;
}
