:root {
 --refero-contacts-screen-color-1: #2b2b93;
 --refero-contacts-screen-color-2: #ebeced;
 --refero-contacts-screen-color-3: #242a3e;
 --refero-contacts-screen-color-4: #7a7c84;
 --refero-contacts-screen-color-5: #62abda;
}
