:root {
 --refero-about-screen-color-1: #543cfb;
 --refero-about-screen-color-2: #c1b8f1;
 --refero-about-screen-color-3: #846cfc;
 --refero-about-screen-color-4: #7966fb;
 --refero-about-screen-color-5: #040404;
}
