:root {
 --refero-careers-screen-color-1: #dbdee2;
 --refero-careers-screen-color-2: #5e6166;
 --refero-careers-screen-color-3: #919499;
 --refero-careers-screen-color-4: #040b0b;
 --refero-careers-screen-color-5: #29292f;
}
