@theme {
  --color-p-ut-ty: #c4c3b6;
  --color-i-nk: #000000;
  --color-b-on-e: #e7e5e4;
  --color-c-ha-lk: #ebebeb;
  --color-v-el-lu-m: #dfdcd5;
  --color-g-ra-ph-it-e: #595855;
  --color-a-sh: #808080;
  --color-p-ap-er: #ffffff;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-52: 52px;
  --spacing-60: 60px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-168: 168px;
  --font-display: Davinci, Canela, Tiempos Headline, GT Super, Playfair Display, serif;
  --font-body: Helvetica Now, Inter, Neue Haas Grotesk, Sohne, Helvetica Neue, ui-sans-serif, system-ui;
  --radius-l-in-ks: 2px;
  --radius-c-ar-ds: 9px;
  --radius-b-ut-to-ns: 28.8px;
  --radius-c-ir-cl-es: 9999px;
}
