:root {
 --refero-contacts-screen-color-1: #eb957b;
 --refero-contacts-screen-color-2: #f4f4f3;
 --refero-contacts-screen-color-3: #1b1b1b;
 --refero-contacts-screen-color-4: #edac83;
 --refero-contacts-screen-color-5: #cc7f5b;
}
