:root {
 --refero-contacts-screen-color-1: #a7a7a8;
 --refero-contacts-screen-color-2: #5d5e5f;
 --refero-contacts-screen-color-3: #efefef;
 --refero-contacts-screen-color-4: #040404;
 --refero-contacts-screen-color-5: #14141b;
}
