:root {
 --refero-dashboard-screen-color-1: #543cfc;
 --refero-dashboard-screen-color-2: #e3d9f3;
 --refero-dashboard-screen-color-3: #8c6cee;
 --refero-dashboard-screen-color-4: #664bfb;
 --refero-dashboard-screen-color-5: #7c6cfc;
}
