:root {
 --refero-integration-page-screen-color-1: #fbdb35;
 --refero-integration-page-screen-color-2: #1d1917;
 --refero-integration-page-screen-color-3: #3555e4;
 --refero-integration-page-screen-color-4: #fbf4ec;
 --refero-integration-page-screen-color-5: #a59d8c;
}
