:root {
 --refero-login-screen-color-1: #3c77bd;
 --refero-login-screen-color-2: #f3b187;
 --refero-login-screen-color-3: #f68d2b;
 --refero-login-screen-color-4: #cbd7e2;
 --refero-login-screen-color-5: #d13a6f;
}
