:root {
 --refero-catalog-page-screen-color-1: #f8f8f8;
 --refero-catalog-page-screen-color-2: #dd3b58;
 --refero-catalog-page-screen-color-3: #1db7bb;
 --refero-catalog-page-screen-color-4: #b39fa2;
 --refero-catalog-page-screen-color-5: #604a41;
}
