:root {
 --refero-paywall-subscription-screen-color-1: #2d2824;
 --refero-paywall-subscription-screen-color-2: #d46c04;
 --refero-paywall-subscription-screen-color-3: #056cd4;
 --refero-paywall-subscription-screen-color-4: #9c9fa3;
 --refero-paywall-subscription-screen-color-5: #fbfbfb;
}
