:root {
 --refero-contacts-screen-color-1: #e7ede5;
 --refero-contacts-screen-color-2: #424241;
 --refero-contacts-screen-color-3: #141413;
 --refero-contacts-screen-color-4: #737371;
 --refero-contacts-screen-color-5: #949490;
}
