:root {
 --refero-about-screen-color-1: #f9f9f9;
 --refero-about-screen-color-2: #685953;
 --refero-about-screen-color-3: #aea198;
 --refero-about-screen-color-4: #848985;
 --refero-about-screen-color-5: #a2675d;
}
