:root {
 --refero-blog-screen-color-1: #f4f1f5;
 --refero-blog-screen-color-2: #cb5677;
 --refero-blog-screen-color-3: #60594c;
 --refero-blog-screen-color-4: #a19998;
 --refero-blog-screen-color-5: #afa559;
}
