:root {
 --refero-product-details-screen-color-1: #f8f7f7;
 --refero-product-details-screen-color-2: #717088;
 --refero-product-details-screen-color-3: #99909b;
 --refero-product-details-screen-color-4: #a25b48;
 --refero-product-details-screen-color-5: #655a68;
}
