:root {
 --refero-product-details-screen-color-1: #e3e3e3;
 --refero-product-details-screen-color-2: #3ca06f;
 --refero-product-details-screen-color-3: #da3937;
 --refero-product-details-screen-color-4: #5f5a59;
 --refero-product-details-screen-color-5: #1c1c1c;
}
