:root {
 --refero-login-screen-color-1: #f4f4f6;
 --refero-login-screen-color-2: #a2a3a6;
 --refero-login-screen-color-3: #5b5b5b;
 --refero-login-screen-color-4: #8b8c8c;
 --refero-login-screen-color-5: #040404;
}
