:root {
 --refero-contacts-screen-color-1: #d8d7d6;
 --refero-contacts-screen-color-2: #279850;
 --refero-contacts-screen-color-3: #14572d;
 --refero-contacts-screen-color-4: #450e0e;
 --refero-contacts-screen-color-5: #141414;
}
