:root {
 --refero-developers-page-screen-color-1: #077bfb;
 --refero-developers-page-screen-color-2: #721ddc;
 --refero-developers-page-screen-color-3: #3d3f43;
 --refero-developers-page-screen-color-4: #8736e0;
 --refero-developers-page-screen-color-5: #f4f4fb;
}
