:root {
 --refero-media-kit-screen-color-1: #171717;
 --refero-media-kit-screen-color-2: #eacdac;
 --refero-media-kit-screen-color-3: #e7cdc6;
 --refero-media-kit-screen-color-4: #fbfbf9;
 --refero-media-kit-screen-color-5: #f3e2ce;
}
