:root {
 --refero-product-page-landing-screen-color-1: #0a0807;
 --refero-product-page-landing-screen-color-2: #fbd204;
 --refero-product-page-landing-screen-color-3: #f2efee;
 --refero-product-page-landing-screen-color-4: #231c44;
 --refero-product-page-landing-screen-color-5: #6e513f;
}
