:root {
 --refero-blog-screen-color-1: #eeece9;
 --refero-blog-screen-color-2: #1e1626;
 --refero-blog-screen-color-3: #25e179;
 --refero-blog-screen-color-4: #332768;
 --refero-blog-screen-color-5: #746a71;
}
