:root {
 --refero-catalog-page-screen-color-1: #f6f6f6;
 --refero-catalog-page-screen-color-2: #040404;
 --refero-catalog-page-screen-color-3: #a3a3a3;
 --refero-catalog-page-screen-color-4: #535353;
 --refero-catalog-page-screen-color-5: #848484;
}
