:root {
 --refero-blog-screen-color-1: #1d1d36;
 --refero-blog-screen-color-2: #e9d23c;
 --refero-blog-screen-color-3: #755542;
 --refero-blog-screen-color-4: #809aab;
 --refero-blog-screen-color-5: #f9faf7;
}
