:root {
 --refero-paywall-subscription-screen-color-1: #211c3f;
 --refero-paywall-subscription-screen-color-2: #9f9f9f;
 --refero-paywall-subscription-screen-color-3: #faf9f8;
 --refero-paywall-subscription-screen-color-4: #6b4382;
 --refero-paywall-subscription-screen-color-5: #ae9432;
}
