:root {
 --refero-dashboard-screen-color-1: #f6396d;
 --refero-dashboard-screen-color-2: #616062;
 --refero-dashboard-screen-color-3: #fbfbfb;
 --refero-dashboard-screen-color-4: #97979a;
 --refero-dashboard-screen-color-5: #2b2b2e;
}
