:root {
 --refero-about-screen-color-1: #dbd9d6;
 --refero-about-screen-color-2: #605f5c;
 --refero-about-screen-color-3: #0ff487;
 --refero-about-screen-color-4: #8d8b8b;
 --refero-about-screen-color-5: #f05504;
}
