:root {
 --refero-careers-screen-color-1: #1b1c1c;
 --refero-careers-screen-color-2: #925c60;
 --refero-careers-screen-color-3: #919799;
 --refero-careers-screen-color-4: #2aaa67;
 --refero-careers-screen-color-5: #686c6f;
}
