:root {
 --refero-paywall-subscription-screen-color-1: #f5f5f5;
 --refero-paywall-subscription-screen-color-2: #5f5663;
 --refero-paywall-subscription-screen-color-3: #97999f;
 --refero-paywall-subscription-screen-color-4: #7a8592;
 --refero-paywall-subscription-screen-color-5: #84737d;
}
