:root {
 --refero-login-screen-color-1: #f9f9f9;
 --refero-login-screen-color-2: #6130af;
 --refero-login-screen-color-3: #9553d9;
 --refero-login-screen-color-4: #a099ad;
 --refero-login-screen-color-5: #6a636a;
}
