:root {
 --refero-product-details-screen-color-1: #f0f2f3;
 --refero-product-details-screen-color-2: #ea4c16;
 --refero-product-details-screen-color-3: #9fa0a2;
 --refero-product-details-screen-color-4: #f8e20d;
 --refero-product-details-screen-color-5: #1c1c1c;
}
