:root {
 --refero-product-details-screen-color-1: #bfb5a0;
 --refero-product-details-screen-color-2: #41bea2;
 --refero-product-details-screen-color-3: #4444bd;
 --refero-product-details-screen-color-4: #c11f83;
 --refero-product-details-screen-color-5: #bba51f;
}
