:root {
 --refero-product-details-screen-color-1: #22211f;
 --refero-product-details-screen-color-2: #5e442f;
 --refero-product-details-screen-color-3: #87581d;
 --refero-product-details-screen-color-4: #9f9c92;
 --refero-product-details-screen-color-5: #fbfbf3;
}
