:root {
 --refero-404-page-screen-color-1: #1f0849;
 --refero-404-page-screen-color-2: #fbf4f3;
 --refero-404-page-screen-color-3: #4b0aef;
 --refero-404-page-screen-color-4: #96608c;
 --refero-404-page-screen-color-5: #9d93ac;
}
