:root {
 --refero-blog-screen-color-1: #dad9d9;
 --refero-blog-screen-color-2: #252527;
 --refero-blog-screen-color-3: #80746e;
 --refero-blog-screen-color-4: #ab6d50;
 --refero-blog-screen-color-5: #524e4c;
}
