:root {
 --refero-paywall-subscription-screen-color-1: #f9f9fa;
 --refero-paywall-subscription-screen-color-2: #cb4a34;
 --refero-paywall-subscription-screen-color-3: #4ad296;
 --refero-paywall-subscription-screen-color-4: #5c5d5e;
 --refero-paywall-subscription-screen-color-5: #a69c9d;
}
