:root {
 --refero-about-screen-color-1: #040404;
 --refero-about-screen-color-2: #f2c60a;
 --refero-about-screen-color-3: #f3f3eb;
 --refero-about-screen-color-4: #d45f47;
 --refero-about-screen-color-5: #9a948c;
}
