:root {
 --refero-blog-screen-color-1: #eaeaeb;
 --refero-blog-screen-color-2: #5e5e5f;
 --refero-blog-screen-color-3: #a1a3a1;
 --refero-blog-screen-color-4: #848484;
 --refero-blog-screen-color-5: #29292a;
}
