:root {
 --refero-login-screen-color-1: #646464;
 --refero-login-screen-color-2: #1a1b1a;
 --refero-login-screen-color-3: #0d64c1;
 --refero-login-screen-color-4: #7f8184;
 --refero-login-screen-color-5: #f3f5f5;
}
