:root {
 --refero-login-screen-color-1: #f1f1f3;
 --refero-login-screen-color-2: #1a7be5;
 --refero-login-screen-color-3: #a5aab3;
 --refero-login-screen-color-4: #24243b;
 --refero-login-screen-color-5: #595964;
}
