:root {
 --refero-profile-account-screen-color-1: #915a51;
 --refero-profile-account-screen-color-2: #61433e;
 --refero-profile-account-screen-color-3: #e9e9dd;
 --refero-profile-account-screen-color-4: #2e2221;
 --refero-profile-account-screen-color-5: #b9b3b3;
}
