:root {
 --refero-developers-page-screen-color-1: #f9f9f5;
 --refero-developers-page-screen-color-2: #141413;
 --refero-developers-page-screen-color-3: #636f3d;
 --refero-developers-page-screen-color-4: #9fa09b;
 --refero-developers-page-screen-color-5: #7e9852;
}
