:root {
 --refero-dashboard-screen-color-1: #e1686d;
 --refero-dashboard-screen-color-2: #24a872;
 --refero-dashboard-screen-color-3: #e8e6e6;
 --refero-dashboard-screen-color-4: #5a3940;
 --refero-dashboard-screen-color-5: #2b3037;
}
