:root {
 --refero-contacts-screen-color-1: #eef4f7;
 --refero-contacts-screen-color-2: #7355d8;
 --refero-contacts-screen-color-3: #2c2364;
 --refero-contacts-screen-color-4: #172321;
 --refero-contacts-screen-color-5: #75748c;
}
