:root {
 --refero-login-screen-color-1: #2b2d8f;
 --refero-login-screen-color-2: #fbb41b;
 --refero-login-screen-color-3: #1fb3f1;
 --refero-login-screen-color-4: #292c36;
 --refero-login-screen-color-5: #d4f3fb;
}
