:root {
 --refero-blog-screen-color-1: #171311;
 --refero-blog-screen-color-2: #975f46;
 --refero-blog-screen-color-3: #989898;
 --refero-blog-screen-color-4: #5a5a57;
 --refero-blog-screen-color-5: #cecdcc;
}
