:root {
 --refero-blog-screen-color-1: #bf4960;
 --refero-blog-screen-color-2: #42be61;
 --refero-blog-screen-color-3: #c1e17f;
 --refero-blog-screen-color-4: #4540bb;
 --refero-blog-screen-color-5: #c05edd;
}
