:root {
 --refero-profile-account-screen-color-1: #f2eaea;
 --refero-profile-account-screen-color-2: #e8ac1f;
 --refero-profile-account-screen-color-3: #a74433;
 --refero-profile-account-screen-color-4: #624f49;
 --refero-profile-account-screen-color-5: #9d9593;
}
