:root {
 --refero-media-kit-screen-color-1: #111310;
 --refero-media-kit-screen-color-2: #985224;
 --refero-media-kit-screen-color-3: #83968d;
 --refero-media-kit-screen-color-4: #8f8362;
 --refero-media-kit-screen-color-5: #536357;
}
