:root {
 --refero-404-page-screen-color-1: #1b1c23;
 --refero-404-page-screen-color-2: #6596c8;
 --refero-404-page-screen-color-3: #aec0e3;
 --refero-404-page-screen-color-4: #3d5171;
 --refero-404-page-screen-color-5: #6e7278;
}
