:root {
 --refero-integration-page-screen-color-1: #546ded;
 --refero-integration-page-screen-color-2: #272729;
 --refero-integration-page-screen-color-3: #fbfbfb;
 --refero-integration-page-screen-color-4: #999dac;
 --refero-integration-page-screen-color-5: #cf4853;
}
