:root {
 --refero-dashboard-screen-color-1: #1f1817;
 --refero-dashboard-screen-color-2: #f5be6a;
 --refero-dashboard-screen-color-3: #9f9b95;
 --refero-dashboard-screen-color-4: #c2b2d1;
 --refero-dashboard-screen-color-5: #ca4f3e;
}
