:root {
 --refero-profile-account-screen-color-1: #040483;
 --refero-profile-account-screen-color-2: #232324;
 --refero-profile-account-screen-color-3: #8a8b94;
 --refero-profile-account-screen-color-4: #f4f4f4;
 --refero-profile-account-screen-color-5: #2b24b3;
}
