:root {
 --refero-product-details-screen-color-1: #454a49;
 --refero-product-details-screen-color-2: #b32414;
 --refero-product-details-screen-color-3: #dbb43d;
 --refero-product-details-screen-color-4: #e4fbbc;
 --refero-product-details-screen-color-5: #1a1415;
}
