:root {
 --refero-dashboard-screen-color-1: #dcdff8;
 --refero-dashboard-screen-color-2: #7576e9;
 --refero-dashboard-screen-color-3: #8884ec;
 --refero-dashboard-screen-color-4: #7a88d9;
 --refero-dashboard-screen-color-5: #ef9229;
}
