:root {
 --refero-product-details-screen-color-1: #dfaf8c;
 --refero-product-details-screen-color-2: #8b5c3c;
 --refero-product-details-screen-color-3: #72412f;
 --refero-product-details-screen-color-4: #e3e3e4;
 --refero-product-details-screen-color-5: #140c09;
}
