:root {
 --refero-dashboard-screen-color-1: #fbfbfb;
 --refero-dashboard-screen-color-2: #161617;
 --refero-dashboard-screen-color-3: #99999a;
 --refero-dashboard-screen-color-4: #6b6b6c;
 --refero-dashboard-screen-color-5: #cbcbcc;
}
