:root {
 --refero-catalog-page-screen-color-1: #676368;
 --refero-catalog-page-screen-color-2: #e6e5e8;
 --refero-catalog-page-screen-color-3: #58aca7;
 --refero-catalog-page-screen-color-4: #333232;
 --refero-catalog-page-screen-color-5: #0b0b0c;
}
