:root {
 --refero-profile-account-screen-color-1: #fbfbfb;
 --refero-profile-account-screen-color-2: #2c446b;
 --refero-profile-account-screen-color-3: #a49f9f;
 --refero-profile-account-screen-color-4: #5f5b5d;
 --refero-profile-account-screen-color-5: #ae5848;
}
