:root {
 --refero-catalog-page-screen-color-1: #1e1923;
 --refero-catalog-page-screen-color-2: #9a9aa8;
 --refero-catalog-page-screen-color-3: #484b88;
 --refero-catalog-page-screen-color-4: #287ec6;
 --refero-catalog-page-screen-color-5: #fbfbfb;
}
