@theme {
  /* Colors */
  --color-deep-ink: #000d10;
  --color-pure-white: #ffffff;
  --color-cool-ash: #8e8e95;
  --color-pebble: #d5d3d4;
  --color-midnight-hull: #0f0f1c;
  --color-charcoal-deck: #151623;
  --color-clay-ember: #bc7155;

  /* Typography */
  --font-helveticanowdisplay: "HelveticaNowDisplay", "Neue Haas Grotesk Display", Inter, "Helvetica Neue", system-ui, sans-serif;
  --font-sans-serif: system-ui, Inter, "Helvetica Neue", sans-serif;

  --text-caption: 17px;
  --leading-caption: 1;
  --text-body: 18px;
  --leading-body: 1.61;
  --text-nav: 20px;
  --leading-nav: 1;
  --text-subheading: 23px;
  --leading-subheading: 1;
  --tracking-subheading: -0.23px;
  --text-heading-sm: 30px;
  --leading-heading-sm: 1;
  --text-heading: 37px;
  --leading-heading: 1;
  --tracking-heading: -0.37px;
  --text-heading-lg: 52px;
  --leading-heading-lg: 1;
  --tracking-heading-lg: -0.52px;
  --text-display: 63px;
  --leading-display: 1;
  --tracking-display: -1.26px;
  --text-display-xl: 131px;
  --leading-display-xl: 1;
  --tracking-display-xl: -2.62px;
  --text-hero: 187px;
  --leading-hero: 0.8;
  --tracking-hero: -3.74px;

  /* Spacing */
  --spacing-11: 11px;
  --spacing-13: 13px;
  --spacing-15: 15px;
  --spacing-16: 16px;
  --spacing-17: 17px;
  --spacing-21: 21px;
  --spacing-22: 22px;
  --spacing-23: 23px;
  --spacing-31: 31px;
  --spacing-34: 34px;
  --spacing-38: 38px;
  --spacing-52: 52px;
  --spacing-53: 53px;
  --spacing-59: 59px;
  --spacing-68: 68px;
  --spacing-119: 119px;

  /* Radius */
  --radius-nav: 1000px;
  --radius-buttons: 1000px;
  --radius-decorative: 45px;
  --radius-heropanels: 0px;
  --radius-iconbuttons: 100%;
}
