:root {
 --refero-product-details-screen-color-1: #c9c9c9;
 --refero-product-details-screen-color-2: #49403f;
 --refero-product-details-screen-color-3: #312e30;
 --refero-product-details-screen-color-4: #1b1c1c;
 --refero-product-details-screen-color-5: #3c3b44;
}
