:root {
 --refero-contacts-screen-color-1: #fbfbfb;
 --refero-contacts-screen-color-2: #05b3fa;
 --refero-contacts-screen-color-3: #9ebcc9;
 --refero-contacts-screen-color-4: #040404;
 --refero-contacts-screen-color-5: #585858;
}
