:root {
 --refero-catalog-page-screen-color-1: #bd523f;
 --refero-catalog-page-screen-color-2: #191c19;
 --refero-catalog-page-screen-color-3: #dda24b;
 --refero-catalog-page-screen-color-4: #35a3a4;
 --refero-catalog-page-screen-color-5: #979b9a;
}
