:root {
 --refero-product-page-landing-screen-color-1: #3f7ee0;
 --refero-product-page-landing-screen-color-2: #a3a7a7;
 --refero-product-page-landing-screen-color-3: #dfdedc;
 --refero-product-page-landing-screen-color-4: #92877a;
 --refero-product-page-landing-screen-color-5: #190f0a;
}
