:root {
 --refero-about-screen-color-1: #2c2c2c;
 --refero-about-screen-color-2: #f5edeb;
 --refero-about-screen-color-3: #fb6b38;
 --refero-about-screen-color-4: #f54b46;
 --refero-about-screen-color-5: #14141c;
}
