:root {
 --refero-404-page-screen-color-1: #438464;
 --refero-404-page-screen-color-2: #fafafb;
 --refero-404-page-screen-color-3: #596a64;
 --refero-404-page-screen-color-4: #9b9c9c;
 --refero-404-page-screen-color-5: #848484;
}
