:root {
 --refero-profile-account-screen-color-1: #90c246;
 --refero-profile-account-screen-color-2: #2689b3;
 --refero-profile-account-screen-color-3: #293229;
 --refero-profile-account-screen-color-4: #bbb38b;
 --refero-profile-account-screen-color-5: #a45958;
}
