:root {
 --refero-login-screen-color-1: #242424;
 --refero-login-screen-color-2: #ececec;
 --refero-login-screen-color-3: #502fd2;
 --refero-login-screen-color-4: #fcfbfb;
 --refero-login-screen-color-5: #aeeac6;
}
