:root {
 --refero-about-screen-color-1: #20201e;
 --refero-about-screen-color-2: #b59f8c;
 --refero-about-screen-color-3: #b26946;
 --refero-about-screen-color-4: #fbfae3;
 --refero-about-screen-color-5: #e0c823;
}
