:root {
 --refero-about-screen-color-1: #0e2222;
 --refero-about-screen-color-2: #e3ecef;
 --refero-about-screen-color-3: #37a7c6;
 --refero-about-screen-color-4: #325bb3;
 --refero-about-screen-color-5: #70544a;
}
