:root {
 --refero-404-page-screen-color-1: #171717;
 --refero-404-page-screen-color-2: #a8b0b7;
 --refero-404-page-screen-color-3: #c5ccd4;
 --refero-404-page-screen-color-4: #fcfcfb;
 --refero-404-page-screen-color-5: #7c7c7c;
}
