:root {
 --refero-catalog-page-screen-color-1: #9e5954;
 --refero-catalog-page-screen-color-2: #959497;
 --refero-catalog-page-screen-color-3: #2067ae;
 --refero-catalog-page-screen-color-4: #141414;
 --refero-catalog-page-screen-color-5: #fbfbfb;
}
