:root {
 --refero-contacts-screen-color-1: #f8f9f9;
 --refero-contacts-screen-color-2: #4099fc;
 --refero-contacts-screen-color-3: #9ca7b4;
 --refero-contacts-screen-color-4: #057cfc;
 --refero-contacts-screen-color-5: #040404;
}
