:root {
 --refero-contacts-screen-color-1: #0b0b0c;
 --refero-contacts-screen-color-2: #efefef;
 --refero-contacts-screen-color-3: #60605f;
 --refero-contacts-screen-color-4: #848484;
 --refero-contacts-screen-color-5: #7c7c7c;
}
