:root {
 --refero-integration-page-screen-color-1: #8d8f94;
 --refero-integration-page-screen-color-2: #f7f9f9;
 --refero-integration-page-screen-color-3: #606265;
 --refero-integration-page-screen-color-4: #0b1413;
 --refero-integration-page-screen-color-5: #5f9e9c;
}
