:root {
 --refero-dashboard-screen-color-1: #bfc0c3;
 --refero-dashboard-screen-color-2: #2ca4fb;
 --refero-dashboard-screen-color-3: #5e5e5f;
 --refero-dashboard-screen-color-4: #1168bc;
 --refero-dashboard-screen-color-5: #f2b404;
}
