:root {
 --refero-about-screen-color-1: #57cb0d;
 --refero-about-screen-color-2: #44cef7;
 --refero-about-screen-color-3: #4d4d4d;
 --refero-about-screen-color-4: #96d02d;
 --refero-about-screen-color-5: #84808a;
}
