:root {
 --refero-media-kit-screen-color-1: #61392a;
 --refero-media-kit-screen-color-2: #9d663c;
 --refero-media-kit-screen-color-3: #ebdabf;
 --refero-media-kit-screen-color-4: #b3202a;
 --refero-media-kit-screen-color-5: #b89385;
}
