:root {
 --refero-catalog-page-screen-color-1: #9944b3;
 --refero-catalog-page-screen-color-2: #26262a;
 --refero-catalog-page-screen-color-3: #18c0bd;
 --refero-catalog-page-screen-color-4: #8c8c8d;
 --refero-catalog-page-screen-color-5: #565353;
}
