:root {
 --refero-catalog-page-screen-color-1: #2c3141;
 --refero-catalog-page-screen-color-2: #86908c;
 --refero-catalog-page-screen-color-3: #814e3f;
 --refero-catalog-page-screen-color-4: #b9b7b2;
 --refero-catalog-page-screen-color-5: #a0765c;
}
