:root {
 --refero-product-page-landing-screen-color-1: #3cd2e2;
 --refero-product-page-landing-screen-color-2: #0d0d10;
 --refero-product-page-landing-screen-color-3: #83f8c1;
 --refero-product-page-landing-screen-color-4: #dbc3fa;
 --refero-product-page-landing-screen-color-5: #f7f79d;
}
