:root {
 --refero-blog-screen-color-1: #d8d1e5;
 --refero-blog-screen-color-2: #e4f230;
 --refero-blog-screen-color-3: #b1936f;
 --refero-blog-screen-color-4: #5f4439;
 --refero-blog-screen-color-5: #92503a;
}
