:root {
 --refero-paywall-subscription-screen-color-1: #e5e5e4;
 --refero-paywall-subscription-screen-color-2: #0da8d8;
 --refero-paywall-subscription-screen-color-3: #14141b;
 --refero-paywall-subscription-screen-color-4: #a39888;
 --refero-paywall-subscription-screen-color-5: #70716e;
}
