:root {
 --refero-profile-account-screen-color-1: #f9fafa;
 --refero-profile-account-screen-color-2: #4da3a9;
 --refero-profile-account-screen-color-3: #a09ea9;
 --refero-profile-account-screen-color-4: #616265;
 --refero-profile-account-screen-color-5: #2a77dc;
}
