:root {
 --refero-careers-screen-color-1: #fcfcfc;
 --refero-careers-screen-color-2: #6c6c6c;
 --refero-careers-screen-color-3: #a1a1a1;
 --refero-careers-screen-color-4: #747474;
 --refero-careers-screen-color-5: #7c7c7c;
}
