:root {
 --refero-dashboard-screen-color-1: #6866d2;
 --refero-dashboard-screen-color-2: #46474d;
 --refero-dashboard-screen-color-3: #999ba6;
 --refero-dashboard-screen-color-4: #c2c8d2;
 --refero-dashboard-screen-color-5: #db7027;
}
