:root {
 --refero-careers-screen-color-1: #202020;
 --refero-careers-screen-color-2: #a33cf9;
 --refero-careers-screen-color-3: #989899;
 --refero-careers-screen-color-4: #fbfbfb;
 --refero-careers-screen-color-5: #676768;
}
