:root {
 --refero-paywall-subscription-screen-color-1: #8c8ac9;
 --refero-paywall-subscription-screen-color-2: #343636;
 --refero-paywall-subscription-screen-color-3: #b4b9e8;
 --refero-paywall-subscription-screen-color-4: #6c6c6c;
 --refero-paywall-subscription-screen-color-5: #f3f1f7;
}
